body {
    background:white;
    margin: 0;
}

header {
    background-color:blue;
    padding:10;
}

.navbar-brand img{
    width:50px;
    height:50px;
}

.center {
    margin: auto;
}


.logotext{
    font-family: 'Oleo Script', cursive;
    font-size:40px;
    color:black;
    float:left;
    }

.feeder {
    width:100%;
}

.container img{
    width:100%;
}